<%- include('../partials/head') %>
<body>
  <%- include('../partials/loggedInHeader') %>
  <div class="container">
    <h1>My Shelf</h1>

    <section class="greeting">
      <h2>Welcome, <%= user.userName[0].toUpperCase() + user.userName.slice(1)  %></h2>
      <h5>You currently reading <%= left %> <%= left === 1 ? 'book' : 'books' %>.</h5>
    </section>
    
    <div class="divider"></div>

    <div class="">
      <h2>Reading</h2>
      <section class="book-section">
        <% for (let i = 0; i < 8; i++) { %>
          <% if (books[i].completed===false){%>
           <div class='bookItem' data-id='<%=books[i]._id%>' data-title="<%=books[i].book%>" data-authors="<%=books[i].author%>">
             <img src="<%= books[i].picture ? books[i].picture : '' %>" alt="">
             <span class='<%= books[i].completed === true ? 'completed' : 'not'%>'><%= books[i].book %></span>
           </div>
        <%}}%> 
      </section>
    </div>    

    <div class="divider"></div>

    <div class="">    
      <h2>Completed</h2>
      <section class="book-section">
        <% for (let i = 0; i < 8; i++) { %>
          <% if (books[i].completed===true){%>
           <div class='bookItem' data-id='<%=books[i]._id%>' data-title="<%=books[i].book%>" data-authors="<%=books[i].author%>">
             <img src="<%= books[i].picture ? books[i].picture : '' %>" alt="">
             <span class='<%= books[i].completed === true ? 'completed' : 'not'%>'><%= books[i].book %></span>
           </div>
        <%}}%>
      </section> 
    </div>
  </div>
   
  <%- include('../partials/bookEditModal') %>
  <script src="js/main.js"></script>
</body>
</html>